In [1]:
print("This is a test")
print("test in branch")

This is a test
test in branch

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from Utils import helper as hp
warnings.filterwarnings('ignore')

In [4]:
new_york_df = hp.merge_dataframes('TestData/Google/States-Reviews/review-New_York',18)

In [5]:
new_york_df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113722104692308235141,Alvin Martinez,1603494795361,5,I'm late to posting this but this store especi...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89c25fc9494dce47:0x6d63c807b59a55
1,107293441492109320298,Johnnie Jackson,1620157037403,1,Very dissatisfied I did not get my phone the p...,None,"{'time': 1620268360920, 'text': 'We pride ours...",0x89c25fc9494dce47:0x6d63c807b59a55
2,100378585801819400296,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55
3,114998161153019826512,Fashion Fiinds,1543773862044,5,Basing my review strictly on the service I rec...,None,"{'time': 1543855317372, 'text': 'Thanks for th...",0x89c25fc9494dce47:0x6d63c807b59a55
4,117178185728422297915,Andres Rieloff,1597279097718,1,Bad! Disorganized. I'm being totally honest. I...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55

In [19]:
new_york_time = new_york_df[['time']]
date = new_york_time.max()
date

date_f = pd.to_datetime(date, unit='ms')
date_f

time   2021-09-08 02:08:59.373
dtype: datetime64[ns]

In [9]:
import datetime

In [16]:
date_f = datetime.datetime.fromtimestamp(date / 1000.0)

date

TypeError: 'Series' object cannot be interpreted as an integer