In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import helper as hp
import warnings
warnings.filterwarnings('ignore')

## Table of Content

### Google

### States

In [2]:
alabama_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Alabama", 12)
alaska_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Alaska", 4)
arizona_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Arizona", 14)
arkansas_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Arkansas", 16)
california_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-California", 18)
colorado_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Colorado", 16)
connecticut_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Connecticut", 18)
delaware_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Delaware", 7)
columbia_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-District_of_Columbia", 4)
florida_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Florida", 19)
georgia_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Georgia", 13)
hawaii_df = hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Hawaii", 11)
idaho_df= hp.merge_dataframes("Datasets/Google Maps/reviews-estados/review-Idaho", 14)

### Alabama

In [3]:
# Vista Preliminar de Datos
print(alabama_df.info())
alabama_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800000 entries, 0 to 1799999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 109.9+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114043824230907811356,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,116009008420407071921,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,106239928178034609776,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,104970056115801744726,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,110587471700525107383,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf

In [4]:
# Revisión de Nulos
alabama_overview = hp.data_overview(alabama_df)
alabama_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",53.70,46.30,833399
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.01,97.99,1763830
6,resp,"[<class 'NoneType'>, <class 'dict'>]",11.52,88.48,1592717
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [5]:
# Revisión de Duplicados
alabama_duplicated = alabama_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
alabama_duplicated[alabama_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
96,103436715724762727112,Dericc Williams,1624420177440,1,Bad attitudes rude and the owner must not care...,0x88892bb449d44cb3:0x7beaf0b2e3171a49
105,110431732102115810724,Dinki Wheeler,1558020562262,4,Good service hot food just the calzones had ba...,0x88892bb449d44cb3:0x7beaf0b2e3171a49
111,109283854480378798153,Danielle McElduff,1511659076142,1,Yuck this is horrible pizza call dominoes they...,0x88892bb449d44cb3:0x7beaf0b2e3171a49
113,105979011958608022324,nikki gause,1505148722189,3,Never put enough sauce on the pizza and someti...,0x88892bb449d44cb3:0x7beaf0b2e3171a49
178,117892681097577058065,Cathy Smith,1558543925698,1,The movers were very polite and on time. Howev...,0x889a4c5600ae3917:0x323715d12942ec3d
...,...,...,...,...,...,...
627143,111743897577006546408,Cheryl Raines,1570459116978,5,Friendly staff. Very attentive to their custom...,0x8889ca20c8d350f7:0x5ba215b4ddafbe36
627144,104877824272358389256,Jamie Lawson,1563643222322,5,A CUT ABOVE EVERYONE AS THE NAME STATES! GREAT...,0x8889ca20c8d350f7:0x5ba215b4ddafbe36
627146,115358589226991212203,Greg Ross,1599937508083,5,Friendly staff very helpful,0x8889ca20c8d350f7:0x5ba215b4ddafbe36
627149,102736346271389140369,Barbara Richards,1561396560368,5,Jewelers cut pawn very friendly family people ...,0x8889ca20c8d350f7:0x5ba215b4ddafbe36
627391,115210627731371990357,Ella Quattlebaum,1618266837268,5,Jazzy Jeff does the most outstanding work!!!!,0x8889ca7dd0e68359:0xf51c9aacc26c2ab3

In [6]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(alabama_df, column)
    print("-"*66)

Total de outliers en time: 7092 de 1800000 registros -- 0.39 %
------------------------------------------------------------------
Total de outliers en rating: 90854 de 1800000 registros -- 5.05 %
------------------------------------------------------------------

### Alaska

In [7]:
# Vista Preliminar de Datos
print(alaska_df.info())
alaska_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521515 entries, 0 to 521514
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  521515 non-null  object
 1   name     521515 non-null  object
 2   time     521515 non-null  int64
 3   rating   521515 non-null  int64
 4   text     298257 non-null  object
 5   pics     20851 non-null   object
 6   resp     44232 non-null   object
 7   gmap_id  521515 non-null  object
dtypes: int64(2), object(6)
memory usage: 31.8+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,109129804842686204152,Nicki Gore,1566331951619,5,We always stay here when in Valdez for silver ...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
1,113240926405758965692,Allen Ratliff,1504917982385,5,Great campground for the price. Nice hot unlim...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
2,113044837891141253355,Jonathan Tringali,1474765901185,4,We tent camped here for 2 nights while explori...,None,None,0x56b646ed2220b77f:0xd8975e316de80952
3,110329155147592031570,S Blad,1472858535682,4,"This place is just a few miles outside Valdez,...",None,None,0x56b646ed2220b77f:0xd8975e316de80952
4,108989634908602011119,Daniel Formoso,1529649811341,5,Probably the nicest and cleanest campground we...,None,None,0x56b646ed2220b77f:0xd8975e316de80952

In [8]:
# Revisión de Nulos
alaska_overview = hp.data_overview(alaska_df)
alaska_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",57.19,42.81,223258
5,pics,"[<class 'NoneType'>, <class 'list'>]",4.00,96.00,500664
6,resp,"[<class 'NoneType'>, <class 'dict'>]",8.48,91.52,477283
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [9]:
# Revisión de Duplicados
alaska_duplicated = alaska_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
alaska_duplicated[alaska_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
121,108916058359946811969,bonecrusher 77,1518731458572,5,"Awesome Dr Man and assistance Willow, Cory fas...",0x56c896656151ce19:0xd11d2ef0be67916a
238,113728604652036328480,Ronald Six,1627265798950,4,None,0x56c8de85f10dbe91:0x153e8e313e6b8fa4
241,109129804842686204152,Nicki Gore,1566331951619,5,We always stay here when in Valdez for silver ...,0x56b646ed2220b77f:0xd8975e316de80952
242,113240926405758965692,Allen Ratliff,1504917982385,5,Great campground for the price. Nice hot unlim...,0x56b646ed2220b77f:0xd8975e316de80952
243,113044837891141253355,Jonathan Tringali,1474765901185,4,We tent camped here for 2 nights while explori...,0x56b646ed2220b77f:0xd8975e316de80952
...,...,...,...,...,...,...
488254,111313245481083648306,Jason Perrego,1466984095559,5,We love this place. Best price to food quality...,0x56ced6cd63117f0b:0xb2abc53047c907f9
488268,109931691928980160037,Danny Google,1498410801971,5,Awesome music yet again. Amazing house made mo...,0x56ced6cd63117f0b:0xb2abc53047c907f9
488269,106755382586057291952,Heather Copelin,1532807214258,5,"Amazing people, clean beautiful cabins and the...",0x56ced6cd63117f0b:0xb2abc53047c907f9
488401,111804002721788849712,isis holcombe,1527986588577,5,Iv always loved tailgaters good food and drink...,0x56c8de6db9f5b085:0x7b37f314156db19b
488409,112477925913935236119,Tim Smith,1567366612681,4,We have been going here for years and it never...,0x56c8de6db9f5b085:0x7b37f314156db19b

In [10]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(alaska_df, column)
    print("-"*66)

Total de outliers en time: 2392 de 521515 registros -- 0.46 %
------------------------------------------------------------------
Total de outliers en rating: 19591 de 521515 registros -- 3.76 %
------------------------------------------------------------------

### Arizona

In [11]:
# Vista Preliminar de Datos
print(arizona_df.info())
arizona_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100000 entries, 0 to 2099999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 128.2+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,118355965896157383742,Vicki Ullery,1628718071358,5,Gwen was so informative and made me feel comfo...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
1,112652295626320204307,Doc Kovacs,1609796129431,5,Dr. Huyhn is an ethical skilled dentist. Her s...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
2,108987901098798627143,Pedro Diaz,1594225668169,1,Not sure if one star is fair but my situation ...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
3,106927662396085722919,Brandon Ray,1622676189509,5,Best dentist office I've ever had. Love everyt...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
4,109053549375120469300,T. Bennett,1434829263041,5,I've been coming to Oasis dentistry for a whil...,None,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821

In [12]:
# Revisión de Nulos
arizona_overview = hp.data_overview(arizona_df)
arizona_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",60.37,39.63,832184
5,pics,"[<class 'NoneType'>, <class 'list'>]",3.04,96.96,2036129
6,resp,"[<class 'NoneType'>, <class 'dict'>]",16.15,83.85,1760851
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [13]:
# Revisión de Duplicados
arizona_duplicated = arizona_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
arizona_duplicated[arizona_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
35,116332844625631854079,angelica andrade,1535502207168,5,"The hygienist, Angel, is such an angel!!! So g...",0x872b6822812d3695:0x613a8ea6d2e60760
36,117788962641356574395,Dominick Calise,1596645973180,5,Dr Brady is an exceptional doctor.The best we...,0x872b6822812d3695:0x613a8ea6d2e60760
40,112821487415025643091,Jerry Dykstra,1455042999119,5,The staff at Desert Sun Smiles is outstanding....,0x872b6822812d3695:0x613a8ea6d2e60760
127,113206565111452268764,Levi H,1530765059556,5,Great!!,0x872d8fa73be38e5f:0x422c041f71a0b9ce
186,102433625073406260030,denise earles,1468527342288,1,Our pool has turned green for the second time ...,0x86d67aa23bf64c6f:0xd3ecac2cee74ad66
...,...,...,...,...,...,...
1261942,108152805745590512171,Diana Duarte,1538255452848,5,"Such a good company to do business with, they ...",0x872b11f05841d0fb:0x4cd636e7615d166d
1261943,108283603547719090246,LoveYour Sign,1577821993402,5,Adriana is a very helpful saleswoman. I was re...,0x872b11f05841d0fb:0x4cd636e7615d166d
1261944,104335667075578871366,Ashe Bali,1589068161531,1,This place needs to be shut down. They are a c...,0x872b11f05841d0fb:0x4cd636e7615d166d
1261945,101968769377028604098,frank whitaker,1597162157986,2,Just looked like I was pulling up to a junk ya...,0x872b11f05841d0fb:0x4cd636e7615d166d
1261946,108152805745590512171,Diana Duarte,1538255452848,5,"Such a good company to do business with, they ...",0x872b11f05841d0fb:0x4cd636e7615d166d

In [14]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(arizona_df, column)
    print("-"*66)

Total de outliers en time: 15283 de 2100000 registros -- 0.73 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2100000 registros -- 0.0 %
------------------------------------------------------------------

### Arkansas

In [15]:
# Vista Preliminar de Datos
print(arkansas_df.info())
arkansas_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 146.5+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108317460579141970085,cayla layman,1630760310327,5,Making West Memphis proud! Love this spot for ...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1631039710340, 'text': 'Thank you ver...",0x87d57755954b200d:0x157d3f3bad3d37a4
1,102123313902332683437,thomas mcdaniel,1631038071292,1,Small burrito period high price. U dont get yo...,None,"{'time': 1631039604586, 'text': 'Sorry for you...",0x87d57755954b200d:0x157d3f3bad3d37a4
2,104067094003049131996,tony shelby,1627697592294,5,I love the food and the staff are very friendly,None,"{'time': 1627707384428, 'text': 'Thank you. Pl...",0x87d57755954b200d:0x157d3f3bad3d37a4
3,107109337185185980940,james williamson,1624394171528,3,It was a New Restaurant and I never had there ...,None,"{'time': 1624395299305, 'text': 'Hi Mr. Willia...",0x87d57755954b200d:0x157d3f3bad3d37a4
4,114611735524979608325,Robert Hardin,1630615588505,5,Great food and service,None,"{'time': 1630668653435, 'text': 'Thank you for...",0x87d57755954b200d:0x157d3f3bad3d37a4

In [16]:
# Revisión de Nulos
arkansas_overview = hp.data_overview(arkansas_df)
arkansas_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",53.99,46.01,1104248
5,pics,"[<class 'list'>, <class 'NoneType'>]",2.01,97.99,2351742
6,resp,"[<class 'dict'>, <class 'NoneType'>]",10.62,89.38,2145217
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [17]:
# Revisión de Duplicados
arkansas_duplicated = arkansas_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
arkansas_duplicated[arkansas_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
56,117407589859049958001,Greg Greeson,1617391409668,5,Helpful and competitively priced.,0x87cc537a325fefff:0x8a525083e90ac254
85,113689891917878665688,Jacob Kasprytski,1600383941261,5,Friendly and helpful really good at what they do,0x87ca4c9740c6501d:0xc11ee26916947452
87,113454012868796769920,Mrs. Kim Fish (Angelfish),1613135335020,1,Seemed kinda rude on the phone,0x87ca4c9740c6501d:0xc11ee26916947452
193,115986649348873693206,CHAROLOTTE COLLINS,1615728395822,5,Great job. Fast and efficient,0x87cbb319b61cd71d:0x175100497170d876
198,115598692958987854809,Peggy Irwin,1525206216574,1,Charged $35 for a nails done incorrectly left ...,0x87cbb319b61cd71d:0x175100497170d876
...,...,...,...,...,...,...
2399553,115908022003387851799,Sonya Kirsch,1483504204827,1,Three separate occasions at three different ti...,0x87c96f00d684f2c5:0xa357d3ff142bdb5
2399554,112034168890415519051,Tanner F,1467258277998,4,"Not the fastest starbucks, but still a starbuc...",0x87c96f00d684f2c5:0xa357d3ff142bdb5
2399560,105316250057364259208,Sharon Dodge,1532734443463,5,Always a favorite! Bethany is amazing!,0x87c96f00d684f2c5:0xa357d3ff142bdb5
2399875,111825717158133961356,Martin Albright,1565183785364,4,I really liked my cashier,0x87cc6bb31ed98be1:0x45d974fcacc673d7
2399880,114436476862178932358,LA Jones,1565121657746,5,Wide aisles good prices,0x87cc6bb31ed98be1:0x45d974fcacc673d7

In [18]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(arkansas_df, column)
    print("-"*66)

Total de outliers en time: 8190 de 2400000 registros -- 0.34 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2400000 registros -- 0.0 %
------------------------------------------------------------------

### California

In [19]:
# Vista Preliminar de Datos
print(california_df.info())
california_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700000 entries, 0 to 2699999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 164.8+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108991152262655788985,Song Ro,1609909927056,5,Love there korean rice cake.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,111290322219796215751,Rafa Robles,1612849648663,5,Good very good,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,112640357449611959087,David Han,1583643882296,4,They make Korean traditional food very properly.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,117440349723823658676,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,100580770836123539210,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49

In [20]:
# Revisión de Nulos
california_overview = hp.data_overview(california_df)
california_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.63,43.37,1170964
5,pics,"[<class 'NoneType'>, <class 'list'>]",3.68,96.32,2600710
6,resp,"[<class 'NoneType'>, <class 'dict'>]",9.08,90.92,2454831
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [21]:
# Revisión de Duplicados
california_duplicated = california_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
california_duplicated[california_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
125,100463062858079561066,Michelle Salangsang,1554848008177,5,Its a Fabulous place I love it!,0x809b2037e088215d:0xbd3cebbdb6533638
180,106829736864762237106,Living the Nay nay,1583355498524,5,Great nails. Attention to detail is a plus for...,0x80dce8b37f4132fb:0xd392d6512a804ac7
182,116995112531360385600,Natalie Tamsut,1601178437702,5,They do a good job and the salon is very nice ...,0x80dce8b37f4132fb:0xd392d6512a804ac7
185,108990823942597776781,Richard Carroll,1599336110584,5,"Open inside for haircut. Good job, good value...",0x80dce8b37f4132fb:0xd392d6512a804ac7
186,105158284063533917070,M K,1559952948240,1,"Worst place, slow and they don’t know what the...",0x80dce8b37f4132fb:0xd392d6512a804ac7
...,...,...,...,...,...,...
2699804,103078013075908878210,Arina Samoylenko,1622916886103,5,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699818,115575187852584347490,Taher Hegab,1621980581042,5,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699871,116931834661746417612,Dakarai I. Aarons,1622333362344,5,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699891,116101724326676241182,Parvez Nadvi,1623349384822,5,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699922,110114664301269546360,cookie hendon,1619845588571,4,None,0x808fc0c19ba4e761:0x589c9ad71c62a420

In [22]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(california_df, column)
    print("-"*66)

Total de outliers en time: 25655 de 2700000 registros -- 0.95 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2700000 registros -- 0.0 %
------------------------------------------------------------------

### Colorado

In [23]:
# Vista Preliminar de Datos
print(colorado_df.info())
colorado_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 146.5+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108990457316763116222,mgshouldice,1484353876202,3,Don't mix this up with their high school. It w...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
1,107403966474786136203,Sabrina Holsinger,1484195642287,4,Teachers are great and you can tell the genual...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
2,112819818945043576491,Tad Amore,1459554530689,5,Great school can't wait for my son to start ne...,None,None,0x876c75945568003d:0x2fae418af6d1e13a
3,102591757433717355980,Victoria Elizabeth De La Torre,1483746469128,1,None,None,None,0x876c75945568003d:0x2fae418af6d1e13a
4,104008941864455933539,Luis Garcia-Lopez,1542782383361,5,None,None,None,0x876c75945568003d:0x2fae418af6d1e13a

In [24]:
# Revisión de Nulos
colorado_overview = hp.data_overview(colorado_df)
colorado_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",61.65,38.35,920437
5,pics,"[<class 'NoneType'>, <class 'list'>]",3.19,96.81,2323528
6,resp,"[<class 'NoneType'>, <class 'dict'>]",17.17,82.83,1987865
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [25]:
# Revisión de Duplicados
colorado_duplicated = colorado_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
colorado_duplicated[colorado_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
144,106544948486595904090,Cynthia Mesa-Toney,1605919989381,5,What a wonderful place to hang out on a Friday...,0x8747210b0fb24ff3:0x73eeb5f3e84ea92e
167,112635906638063234196,Leo Martinez,1615573377182,3,Still trying to understand how the company runs.,0x876b86d87b9f254f:0x9c70d047a9e3fc73
170,111217564758885880239,Lauren Bruns,1549060322102,1,I would leave no stars if I could but you have...,0x876b86d87b9f254f:0x9c70d047a9e3fc73
171,110534225243241794018,kaydee valentino,1585089580292,1,Advertising a customer service position but th...,0x876b86d87b9f254f:0x9c70d047a9e3fc73
345,110813469267722005183,IGS,1629293060871,4,"Pretty good local pizza, but nobody can seem t...",0x87396f9ac74fd78d:0x299d31c8c09e111d
...,...,...,...,...,...,...
1013250,103401379144115121423,Rob W,1548104479271,5,Nice place to enjoy tea and visit with a frien...,0x876eb35194c084af:0x52f6cb33a935de92
1013258,114665980224113091714,deborah perry,1483951083060,5,By far the best tea house in Fort Collins. I l...,0x876eb35194c084af:0x52f6cb33a935de92
1013260,102911229305759022300,Ella Luce,1541284403160,5,"A very soothing and calm place to escape to, f...",0x876eb35194c084af:0x52f6cb33a935de92
1013506,102248550690264135157,Gigi Solo,1575640509287,1,I have to give this place a one star due to th...,0x407016b1b5f29143:0x4d1b302f5df62f16
1013537,118342249851452083772,Joshua Sanders,1580009056037,5,Scrumptious,0x407016b1b5f29143:0x4d1b302f5df62f16

In [26]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(colorado_df, column)
    print("-"*66)

Total de outliers en time: 20495 de 2400000 registros -- 0.85 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2400000 registros -- 0.0 %
------------------------------------------------------------------

### Connecticut

In [27]:
# Vista Preliminar de Datos
print(connecticut_df.info())
connecticut_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680107 entries, 0 to 2680106
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 163.6+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114076516115211330289,Jeff Mccomish,1612059976820,5,Great friendly independent packie,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
1,101520327069328234211,Outlaw PiRu,1544752859553,5,Great Atmosphere and Great Service. Fantastic ...,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
2,111800206569311974834,Hector Acevedo,1564367962353,5,Nice neighborhood store with great sandwiches ...,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
3,112261838881776228573,Leah Williams,1610758109050,5,Just trying,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d
4,108988845846950047344,Nick “Big Nick”,1570061475449,5,Love it!,None,None,0x89e64b04d274c9d9:0x84d833dcc10ae21d

In [28]:
# Revisión de Nulos
connecticut_overview = hp.data_overview(connecticut_df)
connecticut_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",52.88,47.12,1262806
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.64,97.36,2609325
6,resp,"[<class 'NoneType'>, <class 'dict'>]",9.71,90.29,2419786
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [29]:
# Revisión de Duplicados
connecticut_duplicated = connecticut_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
connecticut_duplicated[connecticut_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
62,108986274166993970347,Robert lawlor,1506110494154,5,"Just picked up my TOYOTA HIGHLANDER , outstand...",0x89e7c9c0446ccbe7:0xf8c8ddf93df7abec
333,108959132843836436989,Suzanne Mandella,1569066129263,4,"Ordered 7 different tapas. (Shrimp, goatcheese...",0x89dd576d303dfc53:0x7f0c2093e961eeb0
417,105456999555881058869,Stuart Silverstein,1482532567434,5,Great facility and professional staff. Our exp...,0x89c29f5c00000001:0xe3485f4149ffc464
513,105949791012548612331,Jennii Bee,1623550651986,4,None,0x89e80ec1fc8dbc35:0xa49216fa8d10e33c
688,107061331557252391172,sherry gomez,1518449587707,5,"Always friendly. Great pedicures, nails never ...",0x89e7c27b0266e807:0xf56dd3e953b3e2c8
...,...,...,...,...,...,...
2593501,117175754873578933051,Vin Jor-el,1579750587071,4,Clean restrooms,0x89e8101687474a67:0xc49616bcc7701e6e
2593502,116159310816431101364,R Buckley,1540073889292,4,Good for price,0x89e8101687474a67:0xc49616bcc7701e6e
2593503,114600875749486296889,FTA Qureshi,1566333174889,5,Good,0x89e8101687474a67:0xc49616bcc7701e6e
2593504,109518835641031925554,Ramiro Escobar,1566256058300,5,Good,0x89e8101687474a67:0xc49616bcc7701e6e
2593541,101620521056068570434,Andrew Ellis,1495534123114,3,Decent location.,0x89e8101687474a67:0xc49616bcc7701e6e

In [30]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(connecticut_df, column)
    print("-"*66)

Total de outliers en time: 12872 de 2680107 registros -- 0.48 %
------------------------------------------------------------------
Total de outliers en rating: 112200 de 2680107 registros -- 4.19 %
------------------------------------------------------------------

### Delaware

In [31]:
# Vista Preliminar de Datos
print(delaware_df.info())
delaware_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905537 entries, 0 to 905536
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  905537 non-null  object
 1   name     905537 non-null  object
 2   time     905537 non-null  int64
 3   rating   905537 non-null  int64
 4   text     497198 non-null  object
 5   pics     19031 non-null   object
 6   resp     98075 non-null   object
 7   gmap_id  905537 non-null  object
dtypes: int64(2), object(6)
memory usage: 55.3+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113797972931183350426,Heather Carper,1507258129698,5,Lived here for 3 years and enjoyed it. Locatio...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b8b77c34771c5f:0xf768433b3a39763
1,108911577609871083315,STACY CLAVETTE,1544802238870,5,Nice complex and awesome staff. Maintenance i...,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
2,110147089361428367751,Zion Hood,1559123933643,5,Good places for people to live my friend lives...,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
3,114714285192292470942,Diane Clark,1600736020990,5,great layout.,None,None,0x89b8b77c34771c5f:0xf768433b3a39763
4,108986391413141739824,Eddie S,1554953350224,4,"Positives: Elevator, dog park and maintenance....",None,None,0x89b8b77c34771c5f:0xf768433b3a39763

In [32]:
# Revisión de Nulos
delaware_overview = hp.data_overview(delaware_df)
delaware_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",54.91,45.09,408339
5,pics,"[<class 'list'>, <class 'NoneType'>]",2.10,97.90,886506
6,resp,"[<class 'NoneType'>, <class 'dict'>]",10.83,89.17,807462
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [33]:
# Revisión de Duplicados
delaware_duplicated = delaware_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
delaware_duplicated[delaware_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
210,108912299293947940049,C Wish,1624242662957,5,All around good service.,0x89c6fd8a529f559f:0x774259e8e18bdd12
213,110241192809231002142,Joshua Rivera,1617562650418,5,Amazing service...,0x89c6fd8a529f559f:0x774259e8e18bdd12
214,113674711907377326008,Yomayra perez,1623077680461,5,Excellent service,0x89c6fd8a529f559f:0x774259e8e18bdd12
274,113797972931183350426,Heather Carper,1507258129698,5,Lived here for 3 years and enjoyed it. Locatio...,0x89b8b77c34771c5f:0xf768433b3a39763
275,108911577609871083315,STACY CLAVETTE,1544802238870,5,Nice complex and awesome staff. Maintenance i...,0x89b8b77c34771c5f:0xf768433b3a39763
...,...,...,...,...,...,...
819939,101122874947689893130,Terri M,1473711106940,3,Love the ice cream sundaes not so much love fo...,0x89c764b6db99f561:0x6788c90729f92c8e
820179,117039025570317189072,Katina Freeman,1566664551351,5,Cheap but nice rooms,0x89c764b0d2d516f3:0xaea5828b55d681b5
820181,102511620414657079877,Gabe Suto,1465788729645,5,The rooms are nicer than the other budget pric...,0x89c764b0d2d516f3:0xaea5828b55d681b5
820218,112091590382867454964,Sharnetta Scott,1492021912362,3,The room was ok... Expected for the price. The...,0x89c764b0d2d516f3:0xaea5828b55d681b5
820221,100532803458760639505,Anthony Barone,1487881265170,5,Great rate clean rooms.,0x89c764b0d2d516f3:0xaea5828b55d681b5

In [34]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(delaware_df, column)
    print("-"*66)

Total de outliers en time: 3395 de 905537 registros -- 0.37 %
------------------------------------------------------------------
Total de outliers en rating: 39048 de 905537 registros -- 4.31 %
------------------------------------------------------------------

### District of Columbia

In [35]:
# Vista Preliminar de Datos
print(columbia_df.info())
columbia_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564783 entries, 0 to 564782
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  564783 non-null  object
 1   name     564783 non-null  object
 2   time     564783 non-null  int64
 3   rating   564783 non-null  int64
 4   text     294462 non-null  object
 5   pics     29355 non-null   object
 6   resp     41682 non-null   object
 7   gmap_id  564783 non-null  object
dtypes: int64(2), object(6)
memory usage: 34.5+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,104256407771930872120,Petre Ene,1551027526726,4,"the food is really good, I had a great experie...",[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
1,108642560086289718425,Keshava Mysore,1510920735052,4,High prices for not so big portions! But I thi...,None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
2,111842880135815090774,Carol G,1543249586598,2,"The gelato looked ""old"" and ended up having co...",None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
3,110299397397951052863,翟泉,1496597796978,4,(Translated by Google) The fast food restauran...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27
4,116447973760719145759,Kitae Yim,1540701399450,1,(Translated by Google) The food is barely edib...,None,None,0x89b7b7851b06ef6b:0x5f356b1eb1da27

In [36]:
# Revisión de Nulos
columbia_overview = hp.data_overview(columbia_df)
columbia_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",52.14,47.86,270321
5,pics,"[<class 'list'>, <class 'NoneType'>]",5.20,94.80,535428
6,resp,"[<class 'NoneType'>, <class 'dict'>]",7.38,92.62,523101
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [37]:
# Revisión de Duplicados
columbia_duplicated = columbia_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
columbia_duplicated[columbia_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
69,114210354778955319608,Leslie Anderson,1622838318266,5,Went to drop of FedEx package for pickup!,0x89b7ba0ce9591c3f:0xa79957164e3414c
138,104256407771930872120,Petre Ene,1551027526726,4,"the food is really good, I had a great experie...",0x89b7b7851b06ef6b:0x5f356b1eb1da27
139,108642560086289718425,Keshava Mysore,1510920735052,4,High prices for not so big portions! But I thi...,0x89b7b7851b06ef6b:0x5f356b1eb1da27
140,111842880135815090774,Carol G,1543249586598,2,"The gelato looked ""old"" and ended up having co...",0x89b7b7851b06ef6b:0x5f356b1eb1da27
141,110299397397951052863,翟泉,1496597796978,4,(Translated by Google) The fast food restauran...,0x89b7b7851b06ef6b:0x5f356b1eb1da27
...,...,...,...,...,...,...
438784,117922495740193928481,Adrian Williams,1533522818717,5,"Lunch here is great! Food is good, if you dont...",0x89b7b793ce68670d:0xc8b4f5a061052cf7
438785,110102785290907911823,Ilhan Tanir,1573416315603,5,A good ambiance and steak,0x89b7b793ce68670d:0xc8b4f5a061052cf7
438791,100676309940388170746,Zachary Weinstein,1454274135789,5,"All around great. Nice restaurant, but modern ...",0x89b7b793ce68670d:0xc8b4f5a061052cf7
438823,113207979219035487803,Carlos Granda,1533724902600,5,Awesome food and atmosphere....the staff is of...,0x89b7b793ce68670d:0xc8b4f5a061052cf7
438853,104284044059460065163,Brian Taylor,1526583178424,5,Loved it! Steak was perfect!,0x89b7b793ce68670d:0xc8b4f5a061052cf7

In [38]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(columbia_df, column)
    print("-"*66)

Total de outliers en time: 6495 de 564783 registros -- 1.15 %
------------------------------------------------------------------
Total de outliers en rating: 16253 de 564783 registros -- 2.88 %
------------------------------------------------------------------

### Florida

In [39]:
# Vista Preliminar de Datos
print(florida_df.info())
florida_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850000 entries, 0 to 2849999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 174.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,101471856155148729010,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
1,115477234789038326051,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
2,101805010244892834381,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
3,106344422881493743981,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,100875113069561776529,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb

In [40]:
# Revisión de Nulos
florida_overview = hp.data_overview(florida_df)
florida_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",62.12,37.88,1079510
5,pics,"[<class 'NoneType'>, <class 'list'>]",3.66,96.34,2745810
6,resp,"[<class 'dict'>, <class 'NoneType'>]",15.98,84.02,2394601
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [41]:
# Revisión de Duplicados
florida_duplicated = florida_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
florida_duplicated[florida_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
86,102472957430721454954,zabman100,1586710595269,5,Great tasting fruit and veggies for a reasonab...,0x88db5bded307bfcd:0x716e5e54422bdf3e
87,112492695385641290236,Deidre Beaber,1498083610184,5,Love Elizabeth and Derek. Always so helpful an...,0x88db5bded307bfcd:0x716e5e54422bdf3e
244,103155269119859606154,Cass Sampson,1497287932685,5,The guys were very friendly and helpful and we...,0x88c2c72789199ac3:0x7218f1de7030fca7
246,113061987652340527744,John Reid,1500456244718,4,Great prices and convenient but service was ve...,0x88c2c72789199ac3:0x7218f1de7030fca7
252,108988749665999937214,Sasha Monay,1482532610752,4,I use them pretty often. Rarely have an issue.,0x88c2c72789199ac3:0x7218f1de7030fca7
...,...,...,...,...,...,...
2849992,107247072204950516981,Laurence Thau,1537985722367,3,Love the mall buT soooo big that you cant fi...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
2849994,111021241106140644476,Stacey louis,1531773022549,5,Such a big Mall but loved how Mall employees w...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
2849996,112479723581291238162,Adam K,1514763473117,5,Great place to go especially if you're in the ...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
2849998,109919447996049187193,Shiva K,1532621720862,4,"Plenty of shops with excellent variety, ample ...",0x88d908feeaeded1f:0x29c1bf6101ce3a42
2849999,116093539979953820587,Tiago nascimento,1577461433361,4,Nice open mall,0x88d908feeaeded1f:0x29c1bf6101ce3a42

In [42]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(florida_df, column)
    print("-"*66)

Total de outliers en time: 20130 de 2850000 registros -- 0.71 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2850000 registros -- 0.0 %
------------------------------------------------------------------

### Georgia

In [43]:
# Vista Preliminar de Datos
print(georgia_df.info())
georgia_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950000 entries, 0 to 1949999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 119.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,104227684932200174741,Brent Powell,1599604812269,5,Great hometown folk. Rob takes good care of al...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
1,105572260232544349578,Evan Thomas,1502078169146,5,Very friendly hometown pharmarcy. Always helpf...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
2,103955436073218468595,Caleb Howell,1502571430852,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
3,106974620002238817356,ashlee crawford,1494161075405,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
4,104845669459415055814,T Paulk,1495139229501,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8

In [44]:
# Revisión de Nulos
georgia_overview = hp.data_overview(georgia_df)
georgia_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",58.95,41.05,800503
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.71,97.29,1897161
6,resp,"[<class 'NoneType'>, <class 'dict'>]",14.82,85.18,1660958
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [45]:
# Revisión de Duplicados
georgia_duplicated = georgia_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
georgia_duplicated[georgia_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
137,105008094943059234360,Selabay Miles (Sela Bay Miles),1519309953584,5,"I LOVE SYNERGY! Dr. Mike Rice, Trey, and Phil ...",0x88f505a5e19242b7:0x748571120d382346
146,118270577569970475173,Josephine Petruska,1617390104116,5,Phillip is the best guy ever!!! Highly recommend.,0x88f50f174c3caeb9:0x7a0dc5e2fb91021c
147,107404974149497822735,Pinki Patel,1617397706159,5,Couldn’t have asked for a better customer serv...,0x88f50f174c3caeb9:0x7a0dc5e2fb91021c
149,101018583617057144781,Local Guide #141,1578393340214,1,ATT fiber in my neighborhood. Came in and bust...,0x88f50f174c3caeb9:0x7a0dc5e2fb91021c
152,110219391760904678916,Patrick Easterly,1506115317574,5,The manager James was very helpful and had a g...,0x88f50f174c3caeb9:0x7a0dc5e2fb91021c
...,...,...,...,...,...,...
1916427,111874215947691213834,Patricia Mcmahan,1595510420224,5,Good prices people very nice,0x88f0a40c2c5a4445:0xdda87ec2ec88ba36
1916428,115686598370556062056,Chace Scarboro,1564181668950,5,"Knowledgeable Staff. Great selection of wine, ...",0x88f0a40c2c5a4445:0xdda87ec2ec88ba36
1916429,110255682197123242049,Adrianna Carswell,1603841527942,5,Always have what I'm looking for,0x88f0a40c2c5a4445:0xdda87ec2ec88ba36
1916430,104136254497739882974,Mary Scarboro,1594307394358,5,Prices are reasonable and staff is friendly,0x88f0a40c2c5a4445:0xdda87ec2ec88ba36
1916431,100805474617515703774,jacob mosher,1594747492075,5,Friendly staff and great selections,0x88f0a40c2c5a4445:0xdda87ec2ec88ba36

In [46]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(georgia_df, column)
    print("-"*66)

Total de outliers en time: 13436 de 1950000 registros -- 0.69 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 1950000 registros -- 0.0 %
------------------------------------------------------------------

### Hawaii

In [47]:
# Vista Preliminar de Datos
print(hawaii_df.info())
hawaii_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1504347 entries, 0 to 1504346
Data columns (total 8 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1504347 non-null  object
 1   name     1504347 non-null  object
 2   time     1504347 non-null  int64
 3   rating   1504347 non-null  int64
 4   text     852596 non-null   object
 5   pics     132702 non-null   object
 6   resp     108799 non-null   object
 7   gmap_id  1504347 non-null  object
dtypes: int64(2), object(6)
memory usage: 91.8+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113965417079576625433,manuel grimaldo,1591839903487,5,Great new upgrade,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
1,116655819137293331166,Enrique Lara,1568059018979,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
2,100834119994550070853,Gregory Donaldson,1594885588335,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
3,103207214144482097315,Brian Baker,1575951131613,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
4,108526171163172578599,Kam J,1573076723916,3,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e

In [48]:
# Revisión de Nulos
hawaii_overview = hp.data_overview(hawaii_df)
hawaii_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.68,43.32,651751
5,pics,"[<class 'NoneType'>, <class 'list'>]",8.82,91.18,1371645
6,resp,"[<class 'NoneType'>, <class 'dict'>]",7.23,92.77,1395548
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [49]:
# Revisión de Duplicados
hawaii_duplicated = hawaii_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
hawaii_duplicated[hawaii_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
74,113611594466977711742,allison nahoopii,1564519071292,5,"JUSTIN IS THE BOMB DOT COM!! He's polite, hand...",0x7c006df00f771e0d:0xda0c333b6fcf1769
81,107692007560376516887,Steven Cheshire,1468010476009,1,For an electronics repair service these guys a...,0x7c006df00f771e0d:0xda0c333b6fcf1769
238,112780095860739055847,Marc Florentino,1562057066565,5,love the jojo taro coco...great service.,0x7c006e74f3935bdb:0x8f1e7b9e384a96cf
293,103366086200780195208,Lii Ramos,1605225287412,5,Great service. Everyone was very kind and prof...,0x7c006f4d7d0a22e1:0xfd7d99be8ace931
332,113965417079576625433,manuel grimaldo,1591839903487,5,Great new upgrade,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
...,...,...,...,...,...,...
1172457,104850714488515906873,Mary Jo Williams,1519703940158,5,Awesome ice cream named Kauai's best.,0x7c06fae99ba58e6f:0xfa2d0dfb227dcef4
1172458,106554426996461876216,Laurel Gutenberg,1495775403890,4,I like the selection of natural ingredients! Y...,0x7c06fae99ba58e6f:0xfa2d0dfb227dcef4
1172463,106422984412934737779,Jay,1581776857575,5,Delicious shave Ice.,0x7c06fae99ba58e6f:0xfa2d0dfb227dcef4
1172694,110232561357776141618,Steve Gregos,1528691910448,2,-Paying for the food was fast and accurate. -T...,0x7c07a9e0650b2f3b:0xe5f399894bb343cc
1196499,101303618031337646879,Kevin C.,1584163070769,5,Cool spot,0x7eab299218324df7:0xfcac81f56ba48b2d

In [50]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(hawaii_df, column)
    print("-"*66)

Total de outliers en time: 7418 de 1504347 registros -- 0.49 %
------------------------------------------------------------------
Total de outliers en rating: 33115 de 1504347 registros -- 2.2 %
------------------------------------------------------------------

### Idaho

In [51]:
# Vista Preliminar de Datos
print(idaho_df.info())
idaho_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2085487 entries, 0 to 2085486
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 127.3+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,107842099430937493658,Jason Johnson,1499810222323,3,"Nice place, but not enough dog friendly areas ...",[{'url': ['https://lh5.googleusercontent.com/p...,None,0x54af0dfadab474e1:0x3ae5c949132941d8
1,103512058458520968675,Michael Harry,1478021694645,5,"Pheasant, ducks, geese, white tailed deer.\nSm...",None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
2,110297637817473583585,Jolene Vaughn,1533847989090,3,"We took some horses up to ride, but there real...",None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
3,115057612098014688097,Ben Voris,1563297497573,3,Crowded during pheasant season. If you’re not ...,None,None,0x54af0dfadab474e1:0x3ae5c949132941d8
4,104908091478986095236,Sunshine Window Cleaning Inc. Greg Reid,1543076221896,4,Beautiful spot for a hike or some hunting. Be ...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x54af0dfadab474e1:0x3ae5c949132941d8

In [52]:
# Revisión de Nulos
idaho_overview = hp.data_overview(idaho_df)
idaho_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",57.05,42.95,895644
5,pics,"[<class 'list'>, <class 'NoneType'>]",2.41,97.59,2035305
6,resp,"[<class 'NoneType'>, <class 'dict'>]",14.06,85.94,1792357
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [53]:
# Revisión de Duplicados
idaho_duplicated = idaho_df[['user_id', 'name', 'time', 'rating', 'text', 'gmap_id']]
idaho_duplicated[idaho_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
21,109397208464510048703,Jennifer Thornfeldt,1541443128565,5,"On time, thorough work (remove hot tub and lot...",0x54afb4c19c4bffff:0x9389114191ca2781
154,102955329294636071943,Aaron Hannawalt,1571252605234,5,Most informative dentist I've ever had. I wasn...,0x5361c0f183512f9b:0x5ec681d0093196be
160,112754040294404953092,Jason Opris,1461686526723,5,"I look forward to going to the Dentist, which ...",0x5361c0f183512f9b:0x5ec681d0093196be
169,110517820665109131121,Diann Brillon,1504185795582,5,I was pretty anxious before my dental procedur...,0x5361c0f183512f9b:0x5ec681d0093196be
237,103569522873139605454,Amanda,1587522279706,5,24 hour laundry mat is awesome\nMachines r old...,0x54aaafa71bb5618d:0xb566d69ef3b061d6
...,...,...,...,...,...,...
1864633,102886973875439346272,Casey Mickelsen,1493891976829,5,Yum,0x53545e96dbeefefb:0x7e37e99d951f692
1865053,108430365752140117142,David Craft,1492877318144,5,All of the staff were exceptionally helpful an...,0x54aca21797da002b:0xc79d91972fc9dd31
1865056,105836799382731561714,Kristine White,1607758640178,4,Had a good time. Has a decent breakfast under ...,0x54aca21797da002b:0xc79d91972fc9dd31
1865062,102693843786827227348,Amanda Johnson,1616647852017,5,Breakfast was exceptional and rooms clean,0x54aca21797da002b:0xc79d91972fc9dd31
1865064,107754963794107677090,Charlie H,1609558488884,4,Staff were not as friendly (especially checkin...,0x54aca21797da002b:0xc79d91972fc9dd31

In [54]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(idaho_df, column)
    print("-"*66)

Total de outliers en time: 9363 de 2085487 registros -- 0.45 %
------------------------------------------------------------------
Total de outliers en rating: 83803 de 2085487 registros -- 4.02 %
------------------------------------------------------------------

### Save Merged Files

In [55]:
alabama_df.to_parquet('Datasets/Parquets/alabama_reviews.parquet')
alaska_df.to_parquet('Datasets/Parquets/alaska_reviews.parquet')
arizona_df.to_parquet('Datasets/Parquets/arizona_reviews.parquet')
arkansas_df.to_parquet('Datasets/Parquets/arkansas_reviews.parquet')
california_df.to_parquet('Datasets/Parquets/california_reviews.parquet')
colorado_df.to_parquet('Datasets/Parquets/colorado_reviews.parquet')
connecticut_df.to_parquet('Datasets/Parquets/connecticut_reviews.parquet')
delaware_df.to_parquet('Datasets/Parquets/delaware_reviews.parquet')
columbia_df.to_parquet('Datasets/Parquets/columbia_reviews.parquet')
florida_df.to_parquet('Datasets/Parquets/florida_reviews.parquet')
georgia_df.to_parquet('Datasets/Parquets/georgia_reviews.parquet')
hawaii_df.to_parquet('Datasets/Parquets/hawaii_reviews.parquet')
idaho_df.to_parquet('Datasets/Parquets/idaho_reviews.parquet')