In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from Utils import helper as hp
warnings.filterwarnings('ignore')
import pyarrow.json as pj
import json
import pyarrow.parquet as pq
import ast

## EDA review.json

In [7]:
df = pd.DataFrame()

In [3]:
lines_json = []
with open('../TestData/Yelp/review.json', 'r', encoding='utf-8') as f:
    # Iterate over each line in the JSON file
    for line in f:
        # Parse the JSON string into a dictionary
        data = json.loads(line)
        lines_json.append(data)

reviews_df = pd.DataFrame(lines_json)

In [5]:
# Vista Preliminar de Datos

print(reviews_df.info())
reviews_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB
None

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [7]:
# Reivsión de Nulos

reviews_overview = hp.data_overview(reviews_df)
reviews_overview

  nombre_campo         tipo_datos  NO_nulos_%  nulos_%  nulos_cantidad
0    review_id    [<class 'str'>]       100.0      0.0               0
1      user_id    [<class 'str'>]       100.0      0.0               0
2  business_id    [<class 'str'>]       100.0      0.0               0
3        stars  [<class 'float'>]       100.0      0.0               0
4       useful    [<class 'int'>]       100.0      0.0               0
5        funny    [<class 'int'>]       100.0      0.0               0
6         cool    [<class 'int'>]       100.0      0.0               0
7         text    [<class 'str'>]       100.0      0.0               0
8         date    [<class 'str'>]       100.0      0.0               0

In [8]:
# Revisión de duplicados

reviews_df[reviews_df.duplicated()]

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, useful, funny, cool, text, date]
Index: []

In [9]:
# Revisión de Outliers
outliers_columns = ['stars','useful','funny','cool']

for column in outliers_columns:
    hp.outliers_percentage(reviews_df, column)
    print("-"*66)

Total de outliers en stars: 0 de 6990280 registros -- 0.0 %
------------------------------------------------------------------
Total de outliers en useful: 83325 de 6990280 registros -- 1.19 %
------------------------------------------------------------------
Total de outliers en funny: 59789 de 6990280 registros -- 0.86 %
------------------------------------------------------------------
Total de outliers en cool: 58316 de 6990280 registros -- 0.83 %
------------------------------------------------------------------

## EDA del archivo user.parquet

In [4]:
user_parquet = pq.ParquetFile(r'data-states\user.parquet')
for batch in user_parquet.iter_batches():
    batch_df = batch.to_pandas()

In [5]:
hp.data_overview(batch_df)

          nombre_campo         tipo_datos  NO_nulos_%  nulos_%  nulos_cantidad
0              user_id    [<class 'str'>]       100.0      0.0               0
1                 name    [<class 'str'>]       100.0      0.0               0
2         review_count    [<class 'int'>]       100.0      0.0               0
3        yelping_since    [<class 'str'>]       100.0      0.0               0
4               useful    [<class 'int'>]       100.0      0.0               0
5                funny    [<class 'int'>]       100.0      0.0               0
6                 cool    [<class 'int'>]       100.0      0.0               0
7                elite    [<class 'str'>]       100.0      0.0               0
8              friends    [<class 'str'>]       100.0      0.0               0
9                 fans    [<class 'int'>]       100.0      0.0               0
10       average_stars  [<class 'float'>]       100.0      0.0               0
11      compliment_hot    [<class 'int'>]       100.0      0.0               0
12     compliment_more    [<class 'int'>]       100.0      0.0               0
13  compliment_profile    [<class 'int'>]       100.0      0.0               0
14     compliment_cute    [<class 'int'>]       100.0      0.0               0
15     compliment_list    [<class 'int'>]       100.0      0.0               0
16     compliment_note    [<class 'int'>]       100.0      0.0               0
17    compliment_plain    [<class 'int'>]       100.0      0.0               0
18     compliment_cool    [<class 'int'>]       100.0      0.0               0
19    compliment_funny    [<class 'int'>]       100.0      0.0               0
20   compliment_writer    [<class 'int'>]       100.0      0.0               0
21   compliment_photos    [<class 'int'>]       100.0      0.0               0

In [6]:
batch_df.isna().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [7]:
batch_df[batch_df.duplicated()]

Empty DataFrame
Columns: [user_id, name, review_count, yelping_since, useful, funny, cool, elite, friends, fans, average_stars, compliment_hot, compliment_more, compliment_profile, compliment_cute, compliment_list, compliment_note, compliment_plain, compliment_cool, compliment_funny, compliment_writer, compliment_photos]
Index: []

[0 rows x 22 columns]

In [8]:
outliers_columns = ["useful","funny","cool",'fans',"average_stars"]

for column in outliers_columns:
    hp.outliers_percentage(batch_df, column)
    print("-"*66)

Total de outliers en useful: 91 de 8445 registros -- 1.08 %
------------------------------------------------------------------
Total de outliers en funny: 79 de 8445 registros -- 0.94 %
------------------------------------------------------------------
Total de outliers en cool: 71 de 8445 registros -- 0.84 %
------------------------------------------------------------------
Total de outliers en fans: 146 de 8445 registros -- 1.73 %
------------------------------------------------------------------
Total de outliers en average_stars: 200 de 8445 registros -- 2.37 %
------------------------------------------------------------------

## EDA business.pkl

In [ ]:
business_df = pd.read_pickle("Datasets/Yelp/business.pkl")

In [ ]:
business_df.head()

In [ ]:
# Se realiza una máscara del df, ya que se encuentra con columnas duplicadas
business_df_mask = business_df.iloc[:, :14].copy()
business_df_mask.head()

In [ ]:
# Vista Preliminar de Datos
business_df_mask.info()

In [ ]:
# Revisión de Nulos
business_overview = hp.data_overview(business_df_mask)
business_overview

In [ ]:
# Revisión de Duplicados
business_duplicated = business_df_mask[['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'categories']]
business_duplicated[business_duplicated.duplicated()]

In [ ]:
# Revisión de Outliers
outliers_columns = ['stars', 'review_count', 'is_open']

for column in outliers_columns:
    hp.outliers_percentage(business_df_mask, column)
    print("-"*66)

## EDA del archivo tip.json

In [ ]:
df_tip_ruta = 'data/tip.json'

# Lista para almacenar los diccionarios JSON de cada línea
data_list = []

# Abrir el archivo y procesar cada línea
with open(df_tip_ruta, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Usar ast.literal_eval para convertir la línea en un diccionario
            json_data = ast.literal_eval(line)
            data_list.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

# Crear un DataFrame a partir de la lista de diccionarios
df_tip = pd.DataFrame(data_list)

In [ ]:
df_tip

In [ ]:
hp.data_overview(df_tip)

In [ ]:
df_tip[df_tip.duplicated()]

No hay alguna columna a la cual sea necesario calcularle los outliers, así que el EDA de calidad <br>
de dato para este dataframe de Tip, por este primer sprint permanece así

In [ ]:
# Parquet - Archivo Final Tips
df_tips_ruta = 'data/tip.parquet'
df_tip.to_parquet(df_tips_ruta, index=False)