In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from Utils import helper as hp
warnings.filterwarnings('ignore')

## Table of Content

### Google

### States

In [2]:
montana_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Montana',7)
nebraska_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Nebraska',13)
nevada_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Nevada',12)
new_hampshire_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-New_Hampshire',9)
new_jersey_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-New_Jersey',13)
new_mexico_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-New_Mexico',12)
new_york_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-New_York',18)
north_carolina_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-North_Carolina',15)
north_dakota_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-North_Dakota',4)
ohio_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Ohio',13)
oklahoma_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Oklahoma',11)
oregon_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Oregon',15)
pennsylvania_df = hp.merge_dataframes('../TestData/Google/States-Reviews/review-Pennsylvania',16)

### Montana

In [3]:
# Vista Preliminar de Datos

print(montana_df.info())
montana_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950370 entries, 0 to 950369
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  950370 non-null  object
 1   name     950370 non-null  object
 2   time     950370 non-null  int64
 3   rating   950370 non-null  int64
 4   text     531657 non-null  object
 5   pics     20730 non-null   object
 6   resp     109485 non-null  object
 7   gmap_id  950370 non-null  object
dtypes: int64(2), object(6)
memory usage: 58.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114771463617399560212,Shifts and giggles,1618975510300,5,Good people that know thier stuff excellent cu...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
1,100577710152975396781,Craig Thomas,1609450506236,5,Fixed my saw bout 10min.\n\n1st class.,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
2,105204186482577003750,Lance Broshar,1595447399474,5,Excellent service and products. Fair and reaso...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
3,110521592956426830493,Inicorn Refs,1569377416664,5,One day they may start accepting credit cards!...,None,None,0x535e9ec3ce050deb:0x2169887374ce879f
4,115857374920568014593,Chad,1607551230333,5,Great place good people,None,None,0x535e9ec3ce050deb:0x2169887374ce879f

In [4]:
# Reivsión de Nulos

montana_overview = hp.data_overview(montana_df)
montana_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",55.94,44.06,418713
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.18,97.82,929640
6,resp,"[<class 'NoneType'>, <class 'dict'>]",11.52,88.48,840885
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [5]:
# Revisión de duplicados

montana_duplicated = montana_df[['user_id','name','time','rating', 'text','gmap_id']]
montana_duplicated[montana_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
74,113733966141203537949,Jetro Callison,1568521434233,5,After only a few sessions things have really g...,0x53487c97e1d25795:0x71e5014d42cc10d5
77,108027545821007893268,Ray Studebaker,1584641054856,5,Robin needed help changing her walking mechani...,0x53487c97e1d25795:0x71e5014d42cc10d5
112,118406403074734796426,Just Cãlleen (Resist Evolve Vindicate),1578424796861,1,My overall experience with this office is why ...,0x535dcd84b1cc00bb:0x97e4f0f60efa4582
113,114173943118202298687,Sandy Beaudette,1518810469922,5,I have had such great experiences with this pl...,0x535dcd84b1cc00bb:0x97e4f0f60efa4582
161,106724771224935335510,Carol Park,1620405019090,5,They are all very friendly and cheerful all th...,0x535b07dff34aca61:0x6addd2e608a82640
...,...,...,...,...,...,...
862230,107414697475817434511,Randy Pope,1537049573551,4,Good good. Open layer in the season than many ...,0x536617983bb65f33:0x372c7aab1eef2b83
862231,114196198949984295024,Scott Flamholtz,1562903796533,1,The prices are high because it's in the park. ...,0x536617983bb65f33:0x372c7aab1eef2b83
862246,108573531513379951406,Therese Carey,1535642290961,5,"They have remodeled, nice atmosphere, good pi...",0x536617983bb65f33:0x372c7aab1eef2b83
862454,114390163074335341938,Dennis Burns,1530386819485,5,Great rv park. Spent a week here and it felt ...,0x535dc52884959f8b:0xabf2ea2c24e562f8
862455,117799770388392070559,Yhali Gat,1559165875355,4,"Nice place, great location, frindly staff! A l...",0x535dc52884959f8b:0xabf2ea2c24e562f8

In [6]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(montana_df, column)
    print("-"*66)

Total de outliers en time: 3395 de 950370 registros -- 0.36 %
------------------------------------------------------------------
Total de outliers en rating: 35954 de 950370 registros -- 3.78 %
------------------------------------------------------------------

Nebraska

In [7]:
# Vista Preliminar de Datos

print(nebraska_df.info())
nebraska_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1817866 entries, 0 to 1817865
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 111.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108846811029680511029,Dan Grundy,1608331653332,5,For give me for not catching the managers name...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
1,116191401875892866913,dominick vacura,1627079809988,5,I've got shades!,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
2,108985626010316415557,Cody Albers,1533832546055,4,Went here to see if I could get my glasses adj...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
3,116926779203304046512,Markus Farmer,1559062491880,5,Very helpful with questions. More Versace plea...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203
4,114721354930264722920,james spevak,1526077661056,5,Pretty good place to look for sunglasses. But ...,None,None,0x8793f2b4d692a433:0xc4d08ac32475203

In [8]:
# Reivsión de Nulos

nebraska_overview = hp.data_overview(nebraska_df)
nebraska_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",52.14,47.86,870091
5,pics,"[<class 'NoneType'>, <class 'list'>]",1.91,98.09,1783175
6,resp,"[<class 'NoneType'>, <class 'dict'>]",11.52,88.48,1608423
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [9]:
# Revisión de duplicados

nebraska_duplicated = nebraska_df[['user_id','name','time','rating', 'text', 'gmap_id']]
nebraska_duplicated[nebraska_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
37,112541060313967364832,Julie Angele,1573360381974,5,They are professionals and do excellent work.,0x8796bef0d0234e75:0x5e89af83ef4d4cd6
39,102406441715787485292,Donna Hladik,1569338506676,5,Super nice people. Honest an reasonable,0x8796bef0d0234e75:0x5e89af83ef4d4cd6
58,116620356023095664520,Dan Harnly,1629063660416,5,None,0x8796bef0d0234e75:0x5e89af83ef4d4cd6
285,104811332850585127514,John Duresky,1621380054247,2,Fast talking sales people gloss over some crit...,0x87938d138b714a87:0x5c8a45d4912c8c66
286,107927881915763694398,Sam O,1617902070405,1,Extremely upset with the lack of response and ...,0x87938d138b714a87:0x5c8a45d4912c8c66
...,...,...,...,...,...,...
1751032,116127875619554555220,Clint Petersen,1561327076703,4,Good Burgers,0x8771add1ef003e0f:0x5177694c2007f2fd
1751037,106637398563021375602,Julia Everitt,1518480530928,4,Wasn't bad,0x8771add1ef003e0f:0x5177694c2007f2fd
1751042,103986972023885041240,Mark S,1515278851158,4,Nice place.,0x8771add1ef003e0f:0x5177694c2007f2fd
1751175,100274323250477775609,Neil Pearson,1510177923763,5,My new favorite pizza joint!,0x8771ad77eacd9781:0x707639ee7f7025b2
1751176,116009108956120022262,james worsham,1468127630736,5,Great pizza. Will come back again.,0x8771ad77eacd9781:0x707639ee7f7025b2

In [10]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(nebraska_df, column)
    print("-"*66)

Total de outliers en time: 8353 de 1817866 registros -- 0.46 %
------------------------------------------------------------------
Total de outliers en rating: 75799 de 1817866 registros -- 4.17 %
------------------------------------------------------------------

Nevada

In [11]:
# Vista Preliminar de Datos

print(nevada_df.info())
nevada_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800000 entries, 0 to 1799999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 109.9+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,102843170183026312173,CDL CO,1622740504476,5,No frills smaller coffee counter in the corner...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
1,114954392137907747077,So_ Blind,1573159413820,1,Save yourself the frustration and just ignore ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
2,116523433330089119119,Greg Hansen,1515251163362,3,I passed two Starbucks in order to get to this...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
3,103304053791281129156,Brett Powell,1506206762095,3,It does the job and is my preference over the ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
4,114162416344450979054,M Aris,1468298771892,3,None,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9

In [12]:
# Reivsión de Nulos

nevada_overview = hp.data_overview(nevada_df)
nevada_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",59.16,40.84,735147
5,pics,"[<class 'list'>, <class 'NoneType'>]",3.74,96.26,1732682
6,resp,"[<class 'NoneType'>, <class 'dict'>]",12.50,87.50,1575071
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [13]:
# Revisión de duplicados

nevada_duplicated = nevada_df[['user_id','name','time','rating', 'text','gmap_id']]
nevada_duplicated[nevada_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
25,114713836552961387747,Aj W,1569614186484,5,I got my flu shot today. The pharmacist was Ke...,0x80c8e9c312d2a0b9:0xa01533888ebef0d
26,111872665872230889015,R Sam,1524491701865,3,Awesome store but the area parking a lot is fu...,0x80c8e9c312d2a0b9:0xa01533888ebef0d
28,117949610952244413302,Michael Gleason,1597187833500,2,Not all pharmacy employees wearing a mask that...,0x80c8e9c312d2a0b9:0xa01533888ebef0d
29,108534773249816805371,Carol Levine,1597795633319,1,If I could give no stars I would my daughter c...,0x80c8e9c312d2a0b9:0xa01533888ebef0d
30,105586033123988206958,FC B,1584296812548,5,"Make sure you all download the, “Good Rx” app ...",0x80c8e9c312d2a0b9:0xa01533888ebef0d
...,...,...,...,...,...,...
1799920,117676600621389895866,Fishbowl Export,1558756641145,5,"Really no complaints, it would be nice if you ...",0x80c8c0f058569c15:0x444a4c1dd5f9f039
1799921,103017176567504873564,Bob Petty,1550685286802,5,"If you like catfish and all you can eat of it,...",0x80c8c0f058569c15:0x444a4c1dd5f9f039
1799923,101841425094738109180,DeShawnte Williams,1602912220716,5,Good food,0x80c8c0f058569c15:0x444a4c1dd5f9f039
1799928,101405784676964621043,Diana Herrick,1489258337041,3,Haven't been there in a while. I remember food...,0x80c8c0f058569c15:0x444a4c1dd5f9f039
1799934,114190983358354979492,James Bailey,1527214517711,5,Quick fast and friendly staff member at the dr...,0x80c8c0f058569c15:0x444a4c1dd5f9f039

In [14]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(nevada_df, column)
    print("-"*66)

Total de outliers en time: 10001 de 1800000 registros -- 0.56 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 1800000 registros -- 0.0 %
------------------------------------------------------------------

New Hampshire

In [15]:
# Vista Preliminar de Datos

print(new_hampshire_df.info())
new_hampshire_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296603 entries, 0 to 1296602
Data columns (total 8 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1296603 non-null  object
 1   name     1296603 non-null  object
 2   time     1296603 non-null  int64
 3   rating   1296603 non-null  int64
 4   text     712107 non-null   object
 5   pics     32336 non-null    object
 6   resp     132499 non-null   object
 7   gmap_id  1296603 non-null  object
dtypes: int64(2), object(6)
memory usage: 79.1+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,107325861918074131473,Jeffrey J Howland,1621473866341,4,Like many campgrounds dust is a problem... but...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
1,113012300176598630052,Nathaniel Houle,1604724170325,5,Nice clean and welcoming campground. Love the...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
2,105839925626034653337,Shannon Thomas,1585573760111,5,❤Super friendly people and very well maintaine...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
3,106651075189339207621,Lora Haase,1593363624213,5,Great time. Owners are awesome. Had a great w...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514
4,113037354732826983651,David Blouin,1593808080254,4,Seems like a nice family owned campground the ...,None,None,0x89e2936fffffffff:0x3fce71a3d83aa514

In [16]:
# Reivsión de Nulos

new_hampshire_overview = hp.data_overview(new_hampshire_df)
new_hampshire_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",54.92,45.08,584496
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.49,97.51,1264267
6,resp,"[<class 'NoneType'>, <class 'dict'>]",10.22,89.78,1164104
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [17]:
# Revisión de duplicados

_duplicated = new_hampshire_df[['user_id','name','time','rating', 'text','gmap_id']]
_duplicated[_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
54,108957701084755017724,Brandon Warner,1516817358213,1,Don't go here! Especially keep your children a...,0x89e24eea8d754437:0x968720fb23ad859
60,103981550435953517481,Tonimarie Vietze,1536949481741,1,This place is a joke !! My daughter had an app...,0x89e24eea8d754437:0x968720fb23ad859
63,110106299192055448769,Beverly Baudin,1496287862520,5,"Excellent costumer servive, I had my cleaning...",0x89e24eea8d754437:0x968720fb23ad859
179,110831001479621491318,Sean Dansro,1468864860841,4,Returns a trailer from moving from the DC area...,0x89e3bbe1e68d9a79:0xa6f65801b3cd3c6f
180,111858074977217341433,Thomas McAllister,1604412154287,5,Even my car dealer told me to go there.,0x89e3bbe1e68d9a79:0xa6f65801b3cd3c6f
...,...,...,...,...,...,...
1178540,100326167536307394345,David York,1551572966593,5,Very good 👍,0x89e2834e6ca4f1dd:0xb8f98bcebcc051a4
1178541,113310383801516849347,Allen Brown,1561552844493,5,Great food,0x89e2834e6ca4f1dd:0xb8f98bcebcc051a4
1178550,107713289997208105223,Tom Paradis,1500836858795,3,"good food and service , slightly overpriced ho...",0x89e2834e6ca4f1dd:0xb8f98bcebcc051a4
1178552,108813601557487311483,Donna Egelston,1501728470654,5,Really good food.,0x89e2834e6ca4f1dd:0xb8f98bcebcc051a4
1178885,112280516881954832399,Cody Knudsen,1525530339836,5,"Casey was great, would definitely buy another ...",0x89e29cab27ffa499:0x6fec3566f60e0f53

In [18]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(new_hampshire_df, column)
    print("-"*66)

Total de outliers en time: 5369 de 1296603 registros -- 0.41 %
------------------------------------------------------------------
Total de outliers en rating: 47838 de 1296603 registros -- 3.69 %
------------------------------------------------------------------

New Jersey

In [19]:
# Vista Preliminar de Datos

print(new_jersey_df.info())
new_jersey_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950000 entries, 0 to 1949999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 119.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,101190277000060800745,Monica Zobbi,1614634731992,5,Viktoriya is always very professional and atte...,None,None,0x89c2fb42465dd457:0x437fc2232abf899
1,117269913257051471311,Vitaliia Stefurak,1572974792541,5,"If I could leave them 10 starts I would , unbe...",None,None,0x89c2fb42465dd457:0x437fc2232abf899
2,115226987362661223566,Maria Guzman,1578525387607,5,Laura took her time to know my hair and what s...,None,None,0x89c2fb42465dd457:0x437fc2232abf899
3,116182780268968248990,Jo Rad,1602103279588,5,"Wow, what an experience! Haircut by Victoria! ...",None,"{'time': 1576097102614, 'text': 'Thank you! Th...",0x89c2fb42465dd457:0x437fc2232abf899
4,101071187098115538507,Kimberly Hults,1593034107348,5,Love this salon! The great experience starts o...,None,"{'time': 1575147680996, 'text': 'Thanks for th...",0x89c2fb42465dd457:0x437fc2232abf899

In [20]:
# Reivsión de Nulos

new_jersey_overview = hp.data_overview(new_jersey_df)
new_jersey_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",55.68,44.32,864336
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.86,97.14,1894153
6,resp,"[<class 'NoneType'>, <class 'dict'>]",11.35,88.65,1728764
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [21]:
# Revisión de duplicados

new_jersey_duplicated = new_jersey_df[['user_id','name','time','rating', 'text','gmap_id']]
new_jersey_duplicated[new_jersey_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
108,118244486462149751248,J D,1512613959372,5,They did a great job and didn't take an excess...,0x89c6d1d78288617f:0x51001a9cc750c6e6
151,107247078929698518800,amber mannoia,1472478568663,5,Dr. Archible and staff are AMAZING! The staff ...,0x89c46dc3c45739fd:0x6690f39c450af0f3
155,108983082256367812626,House Offax,1524030266994,5,I couldnt wait to give my review for my root c...,0x89c46dc3c45739fd:0x6690f39c450af0f3
160,102608298919305011056,Eliezer “Avito” Tirado,1532808499492,5,During a busy Friday morning my wife was in an...,0x89c6c9979a87ed83:0x79e9cc4fceb970bc
163,104017857615265478796,Brandon Rice,1520622388279,1,"Very disrespectful, shady company doesn't even...",0x89c6c9979a87ed83:0x79e9cc4fceb970bc
...,...,...,...,...,...,...
1350677,107093999669188816157,Familia Unida,1605950505259,5,Great service,0x89c2fb89df43b241:0x21d6fd2c3030a45f
1350678,102548660165962550712,Pia Georgette,1568743960159,5,The best eyebrow threading in town!,0x89c2fb89df43b241:0x21d6fd2c3030a45f
1350679,101565357180248923114,Anxhela Avdyli,1552145036819,5,Great place to get your eyebrows done!,0x89c2fb89df43b241:0x21d6fd2c3030a45f
1350680,101550880762270632073,Gabriela C.,1487109093159,3,Fine experience with the ladies! The threading...,0x89c2fb89df43b241:0x21d6fd2c3030a45f
1350681,101258459852801757005,Sidra Ali,1492274088463,4,"The lady was really nice and good work, but it...",0x89c2fb89df43b241:0x21d6fd2c3030a45f

In [22]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(new_jersey_df, column)
    print("-"*66)

Total de outliers en time: 11895 de 1950000 registros -- 0.61 %
------------------------------------------------------------------
Total de outliers en rating: 104768 de 1950000 registros -- 5.37 %
------------------------------------------------------------------

New Mexico

In [23]:
# Vista Preliminar de Datos

print(new_mexico_df.info())
new_mexico_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800000 entries, 0 to 1799999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 109.9+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,109015130651419577845,Tania Solis,1607374166577,5,I was helped by Rachel and let me tell you! Sh...,None,"{'time': 1610492163288, 'text': 'Thank you Tan...",0x86fc95104733adc1:0x94da050d754f90b3
1,114641989724535457798,James Watters,1558380690011,5,Colton was fantastic to work with and our shir...,None,"{'time': 1558533046333, 'text': 'Thank you Jam...",0x86fc95104733adc1:0x94da050d754f90b3
2,118173316599145514941,Jesse G.,1542751368749,1,I've been a returning customer for sometime an...,None,"{'time': 1542752652008, 'text': 'Jesse, When ...",0x86fc95104733adc1:0x94da050d754f90b3
3,115908859152987365493,TR S,1486093061400,4,Flighty service. Great selection.,None,None,0x86fc95104733adc1:0x94da050d754f90b3
4,108981200384503827560,Mannie Myers,1625862764044,4,None,None,None,0x86fc95104733adc1:0x94da050d754f90b3

In [24]:
# Reivsión de Nulos

new_mexico_overview = hp.data_overview(new_mexico_df)
new_mexico_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.23,43.77,787780
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.32,97.68,1758208
6,resp,"[<class 'dict'>, <class 'NoneType'>]",12.10,87.90,1582259
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [25]:
# Revisión de duplicados

new_mexico_duplicated = new_mexico_df[['user_id','name','time','rating', 'text','gmap_id']]
new_mexico_duplicated[new_mexico_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
157,116845527525802155738,Viola Perea,1614634285484,5,This place is the best cleaners ever!,0x8722755880f1e281:0xa27e18573c07d5b1
206,112615931705794395974,Richard Castillo,1592511735209,5,Pymt 1 is always very helpful when we have nee...,0x87227141b2ca072b:0x90b2665c41b3b261
211,106805349229533026425,Jessica Worley,1563900133049,5,Great location. Great staff. Highly recommend ...,0x87227141b2ca072b:0x90b2665c41b3b261
213,108461515241809331866,Letty Sanchez,1563900330594,5,Donna was a great help answered all my questio...,0x87227141b2ca072b:0x90b2665c41b3b261
217,116766586434346396888,Heather Gustin,1534106945817,5,Great store! Brisa and Perla really know their...,0x87227141b2ca072b:0x90b2665c41b3b261
...,...,...,...,...,...,...
1799477,109510305329055801849,Roger Freeman,1500262126096,5,Great Breakfast at all hours.,0x86de3cfc3ad37737:0x4f615a4dc7632b56
1799487,117573733234497551644,Andrew King,1530553095879,5,Good service and a nice waitress,0x86de3cfc3ad37737:0x4f615a4dc7632b56
1799554,108062830447889446658,j lee harris,1515186819323,5,None.,0x86de3cfc3ad37737:0x4f615a4dc7632b56
1799555,109824195965433170506,YESSICA PIEDRA,1563141370527,5,Wow,0x86de3cfc3ad37737:0x4f615a4dc7632b56
1799556,103703070874728550502,LINDA A Alvarez,1503536396746,3,Okay,0x86de3cfc3ad37737:0x4f615a4dc7632b56

In [26]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(new_mexico_df, column)
    print("-"*66)

Total de outliers en time: 8658 de 1800000 registros -- 0.48 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 1800000 registros -- 0.0 %
------------------------------------------------------------------

New York

In [27]:
# Vista Preliminar de Datos

print(new_york_df.info())
new_york_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700000 entries, 0 to 2699999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 164.8+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113722104692308235141,Alvin Martinez,1603494795361,5,I'm late to posting this but this store especi...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89c25fc9494dce47:0x6d63c807b59a55
1,107293441492109320298,Johnnie Jackson,1620157037403,1,Very dissatisfied I did not get my phone the p...,None,"{'time': 1620268360920, 'text': 'We pride ours...",0x89c25fc9494dce47:0x6d63c807b59a55
2,100378585801819400296,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55
3,114998161153019826512,Fashion Fiinds,1543773862044,5,Basing my review strictly on the service I rec...,None,"{'time': 1543855317372, 'text': 'Thanks for th...",0x89c25fc9494dce47:0x6d63c807b59a55
4,117178185728422297915,Andres Rieloff,1597279097718,1,Bad! Disorganized. I'm being totally honest. I...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55

In [28]:
# Reivsión de Nulos

new_york_overview = hp.data_overview(new_york_df)
new_york_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.90,43.10,1163593
5,pics,"[<class 'list'>, <class 'NoneType'>]",3.77,96.23,2598344
6,resp,"[<class 'NoneType'>, <class 'dict'>]",9.78,90.22,2436003
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [29]:
# Revisión de duplicados

new_york_duplicated = new_york_df[['user_id','name','time','rating', 'text','gmap_id']]
new_york_duplicated[new_york_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
6,100378585801819400296,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,0x89c25fc9494dce47:0x6d63c807b59a55
7,110555124831664330738,claribel placeres,1456098569126,1,Worse customer ever ! More then 30min to make ...,0x89c25fc9494dce47:0x6d63c807b59a55
216,106066423764460446492,Marianne Russo,1603919728680,5,The bouquet was ABSOLUTELY GORGEOUS! She loved...,0x89d13b01a0de3727:0x7679887f56fb9b75
217,108500155459487381306,Kathy Rayburn,1558961682398,5,They have taken care to provide lovely flowers...,0x89d13b01a0de3727:0x7679887f56fb9b75
258,115407318355480211161,Ana Kuprava,1576604956190,5,I had a great experience of working with Kenne...,0x89c259ac39e91d7b:0x639357d22ed06a46
...,...,...,...,...,...,...
2410481,102057930280523749565,Syed Rahman,1502798065091,5,Everything a $,0x89d312a9fb15a097:0x47dd6bad859bbaa7
2410482,101345771954915194603,currlyhead ._leah,1509064219319,5,Has everything!!!,0x89d312a9fb15a097:0x47dd6bad859bbaa7
2410483,101193757524465562138,Cesar Rodriguez,1554424023629,5,Love it,0x89d312a9fb15a097:0x47dd6bad859bbaa7
2410484,107198760776500117400,Susan Munford,1504549592856,4,Prices,0x89d312a9fb15a097:0x47dd6bad859bbaa7
2410485,117769116438534921886,Patrick Occhino,1489979384835,5,Price,0x89d312a9fb15a097:0x47dd6bad859bbaa7

In [30]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(new_york_df, column)
    print("-"*66)

Total de outliers en time: 26158 de 2700000 registros -- 0.97 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 2700000 registros -- 0.0 %
------------------------------------------------------------------

North Carolina

In [31]:
# Vista Preliminar de Datos

print(north_carolina_df.info())
north_carolina_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250000 entries, 0 to 2249999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 137.3+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,117341286276225129230,Vicki Pittman,1624283263383,5,Son gets hair cut. Kat is his stylist/barber. ...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
1,115729692379822395024,Harley Reaves,1571655539426,5,Really great group of girls! If you have the e...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
2,111547769181082215438,JESSICA ALFORD,1590856630354,5,Kat is amazing! My son loves the way she gives...,None,None,0x89a911d03136ef51:0xb1c06825101afe51
3,109110552668209780158,Tyler Piotrovsky,1577651422743,5,"Samantha gave me a perfect cut for me, though ...",None,None,0x89a911d03136ef51:0xb1c06825101afe51
4,112039109323514983001,Frank Bissette,1590252300386,5,As always Kat is the greatest stylist ever!!,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89a911d03136ef51:0xb1c06825101afe51

In [32]:
# Reivsión de Nulos

north_carolina_overview = hp.data_overview(north_carolina_df)
north_carolina_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",58.24,41.76,939561
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.69,97.31,2189507
6,resp,"[<class 'NoneType'>, <class 'dict'>]",14.91,85.09,1914456
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [33]:
# Revisión de duplicados

north_carolina_duplicated = north_carolina_df[['user_id','name','time','rating', 'text','gmap_id']]
north_carolina_duplicated[north_carolina_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
36,106714104506908410328,Travis Bennett,1546634098132,5,"The customer service was very great, answered ...",0x89ab810896117597:0xc2b23dbb65e56765
71,111888996380396523158,Franchesca Tong,1595728448817,5,After watching a man and his fishing rod go ba...,0x89a8fbcdaef4b9c7:0xd96e336958911f24
208,114882590707989129457,Nicholas Hughes,1534907780535,4,"Pretty good. I bought my bed from there and, a...",0x8856a9015227d56f:0xbea3978cef10588f
332,115287149096002410560,Daniel Lozada,1539381727618,5,Amazing family activity!,0x89ac500cced89595:0xc5f172367c797e2
338,104692618751158060523,Mark Williams,1509308533576,5,Great family environment for all ages!,0x89ac500cced89595:0xc5f172367c797e2
...,...,...,...,...,...,...
1753503,118343492161413904170,Lyle Phenicie,1524426935109,5,Loved it!,0x89ab537d3f3ffb55:0xf1134ce71d430a07
1753504,108259778263441069059,Chip Mcbryde,1612218623106,5,None,0x89ab537d3f3ffb55:0xf1134ce71d430a07
1753505,108475740625597077590,Marcia Emerson,1532458283017,5,None,0x89ab537d3f3ffb55:0xf1134ce71d430a07
1753506,100454465785653352950,Bruce Mansur,1619910771616,5,None,0x89ab537d3f3ffb55:0xf1134ce71d430a07
1753507,106689897456810616563,Jerre Rausa,1561111922724,5,None,0x89ab537d3f3ffb55:0xf1134ce71d430a07

In [34]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(north_carolina_df, column)
    print("-"*66)

Total de outliers en time: 15727 de 2250000 registros -- 0.7 %
------------------------------------------------------------------
Total de outliers en rating: 126529 de 2250000 registros -- 5.62 %
------------------------------------------------------------------

North Dakota

In [35]:
# Vista Preliminar de Datos

print(north_dakota_df.info())
north_dakota_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563693 entries, 0 to 563692
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  563693 non-null  object
 1   name     563693 non-null  object
 2   time     563693 non-null  int64
 3   rating   563693 non-null  int64
 4   text     287695 non-null  object
 5   pics     9300 non-null    object
 6   resp     82994 non-null   object
 7   gmap_id  563693 non-null  object
dtypes: int64(2), object(6)
memory usage: 34.4+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,102470746484263305736,Bryan Miller,1626317971375,5,Fast quick service. I go here almost all the t...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
1,102212743628894360920,Kurt Franke,1612038279541,5,Mike and crew do a great job. Dropped off veh...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
2,112520415779711157106,Amber Moller,1623440198128,5,Amazing love this place!,None,None,0x52d0147640d529bd:0xec9407dc9201780b
3,113398177034208080372,Ian Smith,1619722402903,5,Fair prices speedy work,None,None,0x52d0147640d529bd:0xec9407dc9201780b
4,116014249099302040560,Lilslayerplaez .W,1594748268627,5,Always in & out. Super professional and conve...,None,None,0x52d0147640d529bd:0xec9407dc9201780b

In [36]:
# Reivsión de Nulos

north_dakota_overview = hp.data_overview(north_dakota_df)
north_dakota_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",51.04,48.96,275998
5,pics,"[<class 'NoneType'>, <class 'list'>]",1.65,98.35,554393
6,resp,"[<class 'NoneType'>, <class 'dict'>]",14.72,85.28,480699
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [37]:
# Revisión de duplicados

north_dakota_duplicated = north_dakota_df[['user_id','name','time','rating', 'text','gmap_id']]
north_dakota_duplicated[north_dakota_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
62,110949873622093633925,Anthony Strong,1566675021637,1,"OMG, if I were you I would not go to this plac...",0x53215d8341a762f3:0x3f1a0960bf015746
67,115921552718539662485,Chris Darrell,1556216358514,1,Unprofessional and INCONVENIENT !!!\n\nUhaul a...,0x53215d8341a762f3:0x3f1a0960bf015746
234,102470746484263305736,Bryan Miller,1626317971375,5,Fast quick service. I go here almost all the t...,0x52d0147640d529bd:0xec9407dc9201780b
235,102212743628894360920,Kurt Franke,1612038279541,5,Mike and crew do a great job. Dropped off veh...,0x52d0147640d529bd:0xec9407dc9201780b
236,112520415779711157106,Amber Moller,1623440198128,5,Amazing love this place!,0x52d0147640d529bd:0xec9407dc9201780b
...,...,...,...,...,...,...
547548,118005732181861616855,Andrew Bushor,1517686925289,4,Fantastic,0x532617e532298ac7:0x4ef78cbc22aafc4c
547549,102705700294429048398,Bryan & Dealia Thrash,1505622131114,5,Great every time!!!!,0x532617e532298ac7:0x4ef78cbc22aafc4c
547747,101028239124175603306,Amanda J,1587462522523,4,Could have better service,0x53263d59b187754f:0x685496fb687a2b73
547782,103483838976030437846,Jacob Denn,1569379271355,1,Cashier didnt know how to take the order and a...,0x53263d59b187754f:0x685496fb687a2b73
547787,103390664285497752943,Sharon Nemitz,1582496990501,5,Great crew.,0x53263d59b187754f:0x685496fb687a2b73

In [38]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(north_dakota_df, column)
    print("-"*66)

Total de outliers en time: 1958 de 563693 registros -- 0.35 %
------------------------------------------------------------------
Total de outliers en rating: 22720 de 563693 registros -- 4.03 %
------------------------------------------------------------------

Ohio

In [39]:
# Vista Preliminar de Datos

print(ohio_df.info())
ohio_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950000 entries, 0 to 1949999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 119.0+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114733505901720471519,Justin Calabris,1584232912307,1,I would not recommend.,None,"{'time': 1606161555458, 'text': 'Justin, I am ...",0x8830cf8574b74559:0x64520f17d5e337dc
1,115546115125505203319,Benjamin Cope,1487429476527,5,Quality communication and workmanship,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
2,109114609771331992238,Jason Hammond,1629077164606,5,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
3,115969333473786857055,a Null,1485737926073,2,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc
4,113888870632401106244,Justin F,1499085386882,4,None,None,None,0x8830cf8574b74559:0x64520f17d5e337dc

In [40]:
# Reivsión de Nulos

ohio_overview = hp.data_overview(ohio_df)
ohio_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.15,43.85,855041
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.29,97.71,1905259
6,resp,"[<class 'dict'>, <class 'NoneType'>]",14.11,85.89,1674828
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [41]:
# Revisión de duplicados

ohio_duplicated = ohio_df[['user_id','name','time','rating', 'text','gmap_id']]
ohio_duplicated[ohio_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
90,101615858164260686398,Tracee Weatherspoon,1623467230477,5,I must say I was very impressed by the profess...,0x8830fcb8510c7797:0xaf3bad9f0c035cac
93,103871772771206922747,Shirley Smith,1620522806032,5,Nakol was so helpful and nice greeted me with...,0x8830fcb8510c7797:0xaf3bad9f0c035cac
110,106231450165937958236,Andrea George,1605101838207,5,The front desk and my nurse were exceptional. ...,0x883103e07d5e0c31:0x2a66280df3f41311
115,111308468653320674446,Tiffany Henderson Marcy TABSS,1574709712853,5,"So far so good with my laser treatment, everyo...",0x883103e07d5e0c31:0x2a66280df3f41311
123,102759678147537501191,Nichole Maglich,1557434120383,1,Well for starters I went in one day to get las...,0x883103e07d5e0c31:0x2a66280df3f41311
...,...,...,...,...,...,...
1625978,102950864264345224338,David Goldman,1529335853336,5,They do a good job!,0x8839e97fefef39a7:0x39ad9702617719d2
1626121,112136760830157544858,Stitches and Kisses,1554816942792,1,Very disorganized. The disorganization of a nu...,0x884051ec3a9c20c9:0x61a77a1b3c24bbdd
1627508,111201892631707596220,FaxMeChicken,1547534319738,5,This place takes very good care of their patie...,0x88389b2fb716c9d7:0x9064cde609f86a82
1627657,112303468829591260911,Luckys Girlie,1571401044530,3,I have went to them for years until they tried...,0x883890063ffac74f:0xa5f7f06d75692f37
1627658,117716439144072694709,Steven Mills,1558738745494,5,Worked over on a Friday to get my van repairs ...,0x883890063ffac74f:0xa5f7f06d75692f37

In [42]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(ohio_df, column)
    print("-"*66)

Total de outliers en time: 11414 de 1950000 registros -- 0.59 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 1950000 registros -- 0.0 %
------------------------------------------------------------------

Oklahoma

In [43]:
# Vista Preliminar de Datos

print(oklahoma_df.info())
oklahoma_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650000 entries, 0 to 1649999
Data columns (total 8 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1650000 non-null  object
 1   name     1650000 non-null  object
 2   time     1650000 non-null  int64
 3   rating   1650000 non-null  int64
 4   text     935257 non-null   object
 5   pics     34795 non-null    object
 6   resp     218812 non-null   object
 7   gmap_id  1650000 non-null  object
dtypes: int64(2), object(6)
memory usage: 100.7+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108990106903261944178,Dana Schreiber,1630078007996,5,"Very knowledgeable, you have a question they k...",None,None,0x87b2695af1ba5c73:0x13084fad93bafbe6
1,113811268211478361908,Julie Combs,1612485567960,3,Well they had what I needed but the only Budt...,None,None,0x87b2695af1ba5c73:0x13084fad93bafbe6
2,102455850197465168450,Regi Glo,1598387347506,5,Great place to shop... very helpful and they a...,None,"{'time': 1598541936411, 'text': 'Thank you for...",0x87b2695af1ba5c73:0x13084fad93bafbe6
3,103762530008535859564,Jaimee Steed,1593476994427,5,Sara is fabulous and super sweet! Lots of choi...,None,"{'time': 1593623171971, 'text': 'Thank you so ...",0x87b2695af1ba5c73:0x13084fad93bafbe6
4,116430839116161622337,Kaylee Miller,1575156563539,1,This place always advertises good deals to get...,None,"{'time': 1579024194534, 'text': 'I completely ...",0x87b2695af1ba5c73:0x13084fad93bafbe6

In [44]:
# Reivsión de Nulos

oklahoma_overview = hp.data_overview(oklahoma_df)
oklahoma_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.68,43.32,714743
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.11,97.89,1615205
6,resp,"[<class 'NoneType'>, <class 'dict'>]",13.26,86.74,1431188
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [45]:
# Revisión de duplicados

oklahoma_duplicated = oklahoma_df[['user_id','name','time','rating', 'text','gmap_id']]
oklahoma_duplicated[oklahoma_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
131,107102798322690927356,Susan S,1576867384766,5,AMAZING EXPERIENCE! If you could dream up the...,0x87b21b93c5e8c555:0x5a125e3ddd7bc6ce
132,103913068238479325610,Samantha Craiger,1563806303927,5,Excellent service! Great people. Armando and h...,0x87b21b93c5e8c555:0x5a125e3ddd7bc6ce
225,100199499119647234161,Telisa Blundell,1594833377740,1,Lady at the front desk is awful and rude! She ...,0x87ac265ce0b7cad1:0x8696a5ecf003aa3
310,107427032186668880799,Trina Sepulveda,1603485912819,4,Very helpful and friendly.,0x87b6f5b82f00dd31:0xe66a1a8e5e3c0a3a
401,109509744897626844898,Brian Cunningham,1535858199912,5,"Sally is great, she was quick to return calls ...",0x87b6920221543827:0x7decd28ab3b4ca69
...,...,...,...,...,...,...
1093562,113079628032549464593,Laura,1567458987460,5,I had a wonderful experience buying a mattress...,0x87b21effae9f8765:0x49daaa0ebe7fe9e9
1093563,107915598710815570531,Seth Flint,1601158687567,5,Great place to buy a bed!! Sharon is the best!,0x87b21effae9f8765:0x49daaa0ebe7fe9e9
1093564,114270194774867685053,Bruce Leehan,1593781648433,5,Quick and friendly service! Had the items in s...,0x87b21effae9f8765:0x49daaa0ebe7fe9e9
1093565,111497497954509068954,Andre Austin,1579378120730,5,Sharon was so helpful making sure we found a m...,0x87b21effae9f8765:0x49daaa0ebe7fe9e9
1296947,101356543322119905347,Michael Windsor,1560698092201,4,The Channa masala and Puri is so so good. Some...,0x87b693a348c0def9:0x991d01db6150276b

In [46]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(oklahoma_df, column)
    print("-"*66)

Total de outliers en time: 8366 de 1650000 registros -- 0.51 %
------------------------------------------------------------------
Total de outliers en rating: 0 de 1650000 registros -- 0.0 %
------------------------------------------------------------------

Oregon

In [47]:
# Vista Preliminar de Datos

print(oregon_df.info())
oregon_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250000 entries, 0 to 2249999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 137.3+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,116238557567455956213,Mike Alan,1607013385211,5,Every staff member in this office is absolutel...,None,None,0x54bfff5952aad583:0xad7afdc825730614
1,116988773242398246268,Jennifer Zumwalt,1607571121183,5,They are amazing. Always so kinda and helpful....,None,None,0x54bfff5952aad583:0xad7afdc825730614
2,118003928746583471938,Courtney Saunders,1582762237754,5,"With three kids and myself, our family has bee...",None,"{'time': 1599964077016, 'text': 'It has been g...",0x54bfff5952aad583:0xad7afdc825730614
3,118003928746583471938,Courtney Saunders,1582762237754,5,"With three kids and myself, our family has bee...",None,"{'time': 1599964077016, 'text': 'It has been g...",0x54bfff5952aad583:0xad7afdc825730614
4,103097287486867336142,Becky proulx,1584064731306,5,Three of our children have received their brac...,None,"{'time': 1599961987996, 'text': 'I am glad you...",0x54bfff5952aad583:0xad7afdc825730614

In [48]:
# Reivsión de Nulos

oregon_overview = hp.data_overview(oregon_df)
oregon_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",60.13,39.87,897125
5,pics,"[<class 'NoneType'>, <class 'list'>]",3.43,96.57,2172904
6,resp,"[<class 'NoneType'>, <class 'dict'>]",12.01,87.99,1979735
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [49]:
# Revisión de duplicados

oregon_duplicated = oregon_df[['user_id','name','time','rating', 'text','gmap_id']]
oregon_duplicated[oregon_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
3,118003928746583471938,Courtney Saunders,1582762237754,5,"With three kids and myself, our family has bee...",0x54bfff5952aad583:0xad7afdc825730614
42,108838456177562047702,Dani Davis,1446957586400,5,I have been seen at this office since my early...,0x54956273f74cdad5:0x6e79bcd944e0855d
68,113845027851433240731,Bethany Olsen,1553222881639,5,I have had nothing but good to say about my ex...,0x54950f43d1e91d6f:0x2b94e43d1c23a5b4
69,116499988944656106047,Nick,1505143271698,2,I have been going to this location for my chec...,0x54950f43d1e91d6f:0x2b94e43d1c23a5b4
83,116692412219288404465,Karen Bell,1566026250018,5,Been a customer since 2006 and they have alway...,0x54961e77484f68c1:0x8b484a4ed600c486
...,...,...,...,...,...,...
2249397,108877756691273138915,Melody Buckley,1545773769964,5,I Love Safeway they have a good amount of what...,0x54a2b8e32bc8151b:0x70587c2c5b0402ee
2249461,101366722735296049624,Karen Bowser,1476076675812,3,Prices are too high.\nI go as little as possib...,0x54a2b8e32bc8151b:0x70587c2c5b0402ee
2249950,105851550765774718248,lorene smith,1552536083277,5,Food & service was really good.,0x54a2b8e36ad4bbe9:0x96165409d3e23e70
2249952,108275073074393213330,Patricia E. Mulholland Muñoz,1567462190043,5,The best sushi ever.,0x54a2b8e36ad4bbe9:0x96165409d3e23e70
2249987,106147395885035554941,Jessica Thurman,1523824158128,4,"Good food, pleasant atmosphere",0x54a2b8e36ad4bbe9:0x96165409d3e23e70

In [50]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(oregon_df, column)
    print("-"*66)

Total de outliers en time: 24231 de 2250000 registros -- 1.08 %
------------------------------------------------------------------
Total de outliers en rating: 102785 de 2250000 registros -- 4.57 %
------------------------------------------------------------------

Pennsylvania

In [51]:
# Vista Preliminar de Datos

print(pennsylvania_df.info())
pennsylvania_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 146.5+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id
0,104944742559079759337,Jaron Whitfield,1517731762839,5,"Joe is quite unique of his line of work, he as...",None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
1,117609702832980320437,Jonathan McCarthy,1476276291163,5,For such a small place their impact on my life...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
2,110563242018426632956,Rocky Kev,1338826945578,5,I usually give them a call before I stop by to...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
3,112895973505401399406,Josep Valls,1363286110554,5,My bike had been sitting outdoors for a good w...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
4,110619674885963828884,Timaree Schmit,1548798329760,5,Always an easy experience. Service is knowledg...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [52]:
# Reivsión de Nulos

pennsylvania_overview = hp.data_overview(pennsylvania_df)
pennsylvania_overview

,nombre_campo,tipo_datos,NO_nulos_%,nulos_%,nulos_cantidad
0,user_id,[<class 'str'>],100.00,0.00,0
1,name,[<class 'str'>],100.00,0.00,0
2,time,[<class 'int'>],100.00,0.00,0
3,rating,[<class 'int'>],100.00,0.00,0
4,text,"[<class 'str'>, <class 'NoneType'>]",56.61,43.39,1041386
5,pics,"[<class 'NoneType'>, <class 'list'>]",2.41,97.59,2342190
6,resp,"[<class 'NoneType'>, <class 'dict'>]",12.50,87.50,2099889
7,gmap_id,[<class 'str'>],100.00,0.00,0

In [53]:
# Revisión de duplicados

pennsylvania_duplicated = pennsylvania_df[['user_id','name','time','rating', 'text','gmap_id']]
pennsylvania_duplicated[pennsylvania_duplicated.duplicated()]

,user_id,name,time,rating,text,gmap_id
41,107818417656732396183,Bill Houck,1597036955554,1,Never got back to me,0x89c8b8ba089dbdcd:0xbf3beb779045c517
68,117098090988134434119,jamie huntington,1620956559987,5,None,0x89ce2c1c3c5426df:0x1e132faacfd8005b
113,114272465866333137520,Dena DeChellis,1522343094438,5,Awesome little shop. Amazing photographers. ...,0x88346fc166a14b51:0xc3d929fae5d8e41e
114,100041191452764000749,Linda Jones-Todd,1615145864869,5,Wonderful place to shop!,0x88346fc166a14b51:0xc3d929fae5d8e41e
183,112790611684403053603,Alan Lanham,1604175973383,5,I called to have some furniture moved from our...,0x89c4884c32feaaab:0x1c0f78af396f05f7
...,...,...,...,...,...,...
1582161,106182755371504133436,Chris Guro,1439434192593,5,My husband and I are next-door neighbors of A ...,0x89c4161dfac40e6d:0x4ec7760114996467
1582162,104345676049955102357,Karl Land,1548712834930,5,We love it and our dog does too woof,0x89c4161dfac40e6d:0x4ec7760114996467
1582374,102876110863730082589,Andrea Petaccio,1488454713514,3,Housewares can be a bit pricey and clothing is...,0x89c6c00a398b9211:0x1cfa9cce250174cb
1582383,118308225041707512971,Dave Knight,1505085573561,3,"average thrift shop, tough to look at some ite...",0x89c6c00a398b9211:0x1cfa9cce250174cb
1582386,110257746670850396800,Hermione Gardener,1490661150772,3,"Over priced, building looks like it will fall ...",0x89c6c00a398b9211:0x1cfa9cce250174cb

In [54]:
# Revisión de Outliers
outliers_columns = ['time','rating']

for column in outliers_columns:
    hp.outliers_percentage(pennsylvania_df, column)
    print("-"*66)

Total de outliers en time: 14917 de 2400000 registros -- 0.62 %
------------------------------------------------------------------
Total de outliers en rating: 124412 de 2400000 registros -- 5.18 %
------------------------------------------------------------------

### Save Merged Files

In [55]:
montana_df.to_parquet('../States-Reviews/montana_reviews.parquet')
nebraska_df.to_parquet('../States-Reviews/nebraska_reviews.parquet')
nevada_df.to_parquet('../States-Reviews/nevada_reviews.parquet')
new_hampshire_df.to_parquet('../States-Reviews/new_hampshire_reviews.parquet')
new_jersey_df.to_parquet('../States-Reviews/new_jersey_reviews.parquet')
new_mexico_df.to_parquet('../States-Reviews/new_mexico_reviews.parquet')
new_york_df.to_parquet('../States-Reviews/new_york_reviews.parquet')
north_carolina_df.to_parquet('../States-Reviews/north_carolina_reviews.parquet')
north_dakota_df.to_parquet('../States-Reviews/north_dakota_reviews.parquet')
ohio_df.to_parquet('../States-Reviews/ohio_reviews.parquet')
oklahoma_df.to_parquet('../States-Reviews/oklahoma_reviews.parquet')
oregon_df.to_parquet('../States-Reviews/oregon_reviews.parquet')
pennsylvania_df.to_parquet('../States-Reviews/pennsylvania_reviews.parquet')