Para una muestra representativa, voy a tomar Texas ya que es donde están los locales más importantes de Texas Roadhouse, además de ser uno de los lugares dónde es más tradicional esta comida

In [1]:
import pandas as pd 
import numpy as np 
import glob
from Utils_ETL import helper as hpe

In [2]:
df = hpe.merge_dataframes_ETL("review-Texas")

In [3]:
df

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.105453e+20,Kimberly Feger,1625431734826,5,"The pharmacist, Erin, is phenomenal. She was s...",None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
1,1.036198e+20,Briana Streit,1568336283913,2,I gave them 2 stars because they offer prescri...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
2,1.019167e+20,Sylvia Caudillo,1519873586872,1,If I could put minus stars I would. This has t...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
3,1.178709e+20,Ginger Kinyon,1571638384637,1,Please fix your restroom doors,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
4,1.103973e+20,Angeles Arellano,1546568877087,1,This pharmacy Walmart dose not work not come a...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
...,...,...,...,...,...,...,...,...
149995,1.021681e+20,t williams,1562883151018,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149996,1.054173e+20,Erika Lira,1532009672494,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149997,1.107857e+20,Jon Brent,1567968578697,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149998,1.091676e+20,lunna cabal,1506476840285,4,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149999,1.012701e+20,Michelle Torres,1555551049893,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4